<template name="sinDatos">
	<!-- <div class="row">
		{{> nuevoElemento}}
		<div class="col s12">
			<div class="card-panel bold500 lime accent-2 green-text text-darken-3">
				<i class="material-icons left">warning</i>
				<span>No se encontró información al respecto.</span>
			</div>
		</div>
	</div> -->
	<!-- Modal Trigger -->
   <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

   <!-- Modal Structure -->
   <div id="modal1" class="modal bottom-sheet">
     <div class="modal-content">
       <h4>Modal Header</h4>
       <p>A bunch of text</p>
     </div>
     <div class="modal-footer">
       <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
     </div>
   </div>
</template>

<template name="sinDatosNoButton">
	<!-- <div class="row">
		<div class="col s12">
			<div class="card-panel lime accent-2 green-text text-darken-3">
				<i class="material-icons left">warning</i>
				<span>No
					se encontró información al respecto.</span>
			</div>
		</div>
	</div> -->
	<!-- Modal Trigger -->
</template>
