<template name="sideNav">
	<ul id="mobileNavBar" class="side-nav fixed">
		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
				<li class="bold">
					<a class="collapsible-header waves-effect waves-teal">Módulo: Usuario</a>
					<div class="collapsible-body">
						<ul>
							<li><a href="{{pathFor route='colClaro'}}">Reporte Turnos</a></li>
							<li><a href="#!">Actualizar Datos</a></li>
							<li><a href="#!">Modificar Contraseña</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
	</ul>
</template>
